<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="Styles/styles.css">
</head>
<body>
    <header>
        <div class="BannerCont">
            <img src="Images/Logo.jpg" alt="" id="Logo">
            <nav>
                <ul>
                    <%- include('partials/uList.ejs') %>
                </ul>
            </nav>
        </div>    
    </header>

    <main>
        <section>
            <H1 class="HeaderText">ABOUT</H1>
            <img src="Images/Portrait.jpg" alt="">
            <p class="NormalText" style="float: right;">
                Hello, I'm Noah Mauro, a passionate and creative software developer with a deep love for coding and problem-solving. 
                With 10 years of experience in the industry, I've had the privilege to work on a wide range of exciting projects, from web applications to mobile apps.
                My goal is to build innovative solutions that make a positive impact on people's lives. 
                I thrive on challenges and am constantly exploring new technologies to stay at the forefront of the ever-evolving tech landscape.
            </p>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>