<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="Styles/styles.css">
</head>
<body>
    <header>
        <div class="BannerCont">
            <img src="Images/Logo.jpg" alt="" id="Logo">
            <nav>
                <!-- partial for nav -->
                <%- include('partials/uList.ejs') %>
            </nav>
        </div>
        
        <div class="BannerCont">
            <img src="Images/Banner.jpg" alt="The banner for the homepage" id="Banner">
            <h1 id="Name">Noah Mauro</h1>
            <p id="Motto">"Turning Ideas into Code, One Line at a Time"</p>
        </div>           
    </header>
    <%- include('partials/footer.ejs') %>
</body>
</html>
